/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- GERAIS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

header{
    position: sticky;
}

#menuHamb{
    margin-top: 0px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- BASQUETE -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.nakas{
    width: 100%;
    height: 570px;
    background-image: url(../imagens/Nakas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    background-position: center;
}

.nakasTxt{
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
}

.nakasTxt > h2{
    font-size: 80px;
    font-weight: 400;
}

.nakasTxt > p{
    font-size: 26px;
    font-weight: 300;
    width: 85%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- OQUE É -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.oque_e{
    padding: 0px 0px 0px 40px;
}

.oque_e_title{
    color: #F9A400;
    font-size: 50px;
    font-weight: 600;
}

.oque_e_grid{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 3fr 2fr;
}

.oque_e_img{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.oque_e_img > img{
    width: 90%;
}

.oque_txt{
    width: 95%;
    text-align: justify;
    font-size: 20px;
}

.oque_txt > p{
    color: #6a6a6a;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

footer{
    margin-top: 50px;
    border-top: 3px solid #F9A400;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- MEDIA -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media screen and (max-width: 1070px){
    .oque_e_img{
        display: none;
    }

    .oque_e_grid{
        display: flex;
    }

    .oque_e{
        padding: 0px 20px 0px 40px;
    }
}
